@model BankingManagementSystem.Web.Model2
@{
    ViewData["Title"] = "AddBalance";
}


<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <h3>Account</h3>
</div>
<div class="page-content">
    <section class="row">

            <div class="row">
                <div class="col-12 col-xl-4">
                    @if (TempData["Balance"] != null)
                    {
                        <div class="alert alert-success" style="margin-top:5px"><strong> @TempData["Balance"] </strong></div>

                    }
                    <div class="card">
                    
                            
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="tab-content tab-validate" id="myTabContent">
                                        <div class="tab-pane fade show active" id="General" role="tabpanel" aria-labelledby="General-tab">
                                            <div class="row">
                                                <form asp-action="AddBalance" method="post" asp-controller="Dashboard" asp-antiforgery="true">
                                                <div class="col-md-12 col-12">
                                                    
                                                    <div class="form-group">
                                                        <label for="Balance">Balance</label>
                                                        <input type="text" asp-for="Balance" id="Balance" class="form-control" name="Balance">
                                                    </div>
                                                </div>
                                               
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="reset"
                                                            class="btn btn-danger  me-2 mb-2">
                                                        Cancel
                                                    </button>

                                                    <button type="submit"
                                                       class="btn btn-primary  me-2 mb-2">
                                                        Add
                                                    </button>
                                                </div>
                                                 </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="card">
                        </div>
                    </div>
                </div>
            </div>

    </section>
</div>







