 <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Banking Management System</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
              <p>&copy; 2021 - Banking Management System  </p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p class="text-right">
              <a href="#" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="#" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>