<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Bank Management System | @ViewData["Title"]</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/home/assets/apple-icon-180x180.png">
  <link href="/home/assets/favicon.ico" rel="icon">
  <link href="" rel="stylesheet">
  <link href="/home/navMenu.css" rel="stylesheet">
  <link href="/home/main.550dcf66.css" rel="stylesheet">
  @await RenderSectionAsync("Styles", false)
</head>

<body>
<header>
  <nav class="navbar navbar-default active navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" asp-action="Index" asp-controller="Home" title="">
            <img src="~/home/assets/images/mashup-icon.svg" class="navbar-logo-img" alt="">
        </a>
      </div>
       <partial name="Partial/_HomeHeaderNavPartial"/>
    </div>
  </nav>
</header>

<div class="content-wrapper"> 
    @RenderBody() 
</div>

<footer class="footer-container white-text-container">
    <partial name="Partial/_HomeFooterPartial"/>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>

<script type="text/javascript" src="/home/main.0cf8b554.js"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>