<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Management System| @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/mazar/css/bootstrap.css">
    <link rel="stylesheet" href="~/mazar/vendors/choices.js/choices.min.css" />
    <link rel="stylesheet" href="~/mazar/vendors/iconly/bold.css">
    <link rel="stylesheet" href="~/mazar/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/mazar/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/mazar/vendors/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/mazar/css/app.css">
    <link rel="stylesheet" href="~/mazar/vendors/simple-datatables/style.css">
    <link rel="shortcut icon" href="~/mazar/images/favicon.svg" type="image/x-icon">

    @await RenderSectionAsync("Styles", false)
</head>

<body>
    <div id="app">
        <partial name="_PanelSIdebarMenuPartial" />

        <div id="main">
            @RenderBody()

            <partial name="_Footer" />
        </div>
    </div>

    <script src="~/mazar/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/mazar/js/bootstrap.bundle.min.js"></script>
    <script src="~/mazar/vendors/jquery/jquery.min.js"></script>
    <script src="~/mazar/vendors/jquery/jquery.validate.min.js"></script>
    <script src="~/mazar/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/mazar/js/pages/dashboard.js"></script>
    <script src="~/mazar/vendors/choices.js/choices.min.js"></script>
    <script src="~/mazar/js/main.js"></script>
    <script src="~/mazar/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/mazar/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="~/mazar/vendors/datatables/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>