@{
    ViewData["Title"] = "Home";
}
@section Styles{

}
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Banking Management System</h1>
          <p>WELCOME TO Banking Management System WEBSITE.</p>
          <br>
          <a href="#" class="btn btn-default btn-lg" title="">Discover</a>
        </div>
      </div>
    </div>
  </div>


@section Scripts{
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>
}